{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeeksHackBlogSite</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
<section id="wrapper">
<div class="mainArea">
<div class="blogArea">
<h1 class="logo">GeeksAppBlogLOGO</h1>
{% for post in posts %}
<h3>{{ post.title }}</h3>
<p>{{ post.text }}</p>
<small>{{ post.created_date }}</small>
{% endfor %}
</div>
<div class="sidebarArea">
    ここに広告が入ります。
</div>
</div>
</section>




</body>
</html>